*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-size: 1.1rem;
  font-family: 'Catamaran', sans-serif;
  color: #333;
  line-height: 1.6;
}
h1,
h2,
h3,
h4 {
  line-height: 1.3;
}
a {
  color: #444;
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  width: 100%;
  display: block;
}
.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}
.header {
  font-size: 1.2rem;
  padding: .3rem 0;
  position: relative;
}
.container--header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.logo {
  font-size: 2rem;
}
.nav {
  justify-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 700px) {
  .nav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    display: none;
    text-align: center;
  }
}
.nav.active {
  display: block;
}
.nav__link {
  padding: 0 1rem;
  font-weight: 700;
  transition: .2s linear;
  position: relative;
}
.nav__link:hover {
  color: rgba(11, 94, 55, 0.76);
}
.nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: rgba(11, 94, 55, 0.76);
  width: 0;
  transition: .2s;
}
.nav__link:hover::after {
  width: 100%;
}
.nav__link.active {
  color: rgba(11, 94, 55, 0.76);
}
.nav__menu {
  width: 25px;
  position: absolute;
  top: 20%;
  right: 5%;
  z-index: 10;
  padding: 15px 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}
.nav__item {
  top: 50%;
  margin-top: -1px;
  right: 0;
  left: 0;
  bottom: 0;
}
.nav__item,
.nav__item::before,
.nav__item::after {
  width: 100%;
  height: 2px;
  position: absolute;
  background-color: rgba(11, 94, 55, 0.76);
  display: none;
}
@media (max-width: 700px) {
  .nav__item,
  .nav__item::before,
  .nav__item::after {
    display: block;
  }
}
.nav__item::before,
.nav__item::after {
  content: "";
}
.nav__item::before {
  transform: translateY(-9px);
}
.nav__item::after {
  transform: translateY(9px);
}
.section-a {
  margin: 2rem 0;
}
.title {
  font-size: 4rem;
  color: #333;
}
@media (max-width: 767px) {
  .title {
    font-size: 3rem;
  }
}
.text {
  margin: 1rem 0;
}
.btn {
  display: inline-block;
  background: #333;
  color: #fff;
  padding: .8rem 1.5rem;
  border: 0;
  cursor: pointer;
  font-size: 1.1rem;
  border-radius: 10px;
}
.btn:hover {
  background: rgba(11, 94, 55, 0.76);
}
.container--a {
  display: grid ;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
  align-items: center;
  justify-content: center;
}
@media (max-width: 767px) {
  .container--a {
    grid-template-columns: 1fr;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .wrap-a:first-child {
    order: 2;
  }
  .wrap-a:last-child {
    order: -1;
  }
  .section-a__image {
    width: 60%;
    margin: auto;
  }
}
.section-b {
  position: relative;
  height: 600px;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.section-b__inner {
  padding: 0 15px;
  color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  max-width: 860px;
  page-break-after: 5rem 0;
}
.section-b__suptitle {
  font-size: 2rem;
  text-transform: capitalize;
}
.section-b__title {
  font-size: 5rem;
  margin-top: 1rem;
}
@media (max-width: 767px) {
  .section-b__title {
    font-size: 3rem;
  }
}
.section-b__text {
  font-size: 1.5rem;
  margin-top: 1rem;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background: #333;
}
.gallery__item:first-child {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
}
.gallery__item:nth-child(2) {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}
.gallery__item:nth-child(6) {
  grid-column-start: 1;
  grid-column-end: 3;
}
.gallery__item:nth-child(7) {
  grid-column-start: 3;
  grid-column-end: 5;
}
.gallery__item,
.gallery__item img {
  width: 100%;
  height: 100%;
}
.section-footer {
  background: #333;
  color: #fff;
  padding: 4rem 0;
}
@media (max-width: 767px) {
  .section-footer {
    padding: 2rem 0;
  }
}
.container--footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}
@media (max-width: 767px) {
  .container--footer {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 480px) {
  .container--footer {
    grid-template-columns: 1fr ;
    text-align: center;
  }
  .container--footer .blog {
    display: none;
  }
}
.footer__title {
  margin-bottom: .7rem;
}
@media (max-width: 767px) {
  .footer__title {
    font-size: 1rem;
  }
}
.footer__link {
  line-height: 1.9;
  color: #ccc;
}
@media (max-width: 767px) {
  .footer__link {
    font-size: .9rem;
  }
}
.footer__link:hover {
  color: #999999;
}
.socials i {
  color: #555;
  margin-right: .5rem;
}
.socials i:hover {
  color: #fff;
}
@media (max-width: 767px) {
  .socials {
    order: 2;
  }
  .blog {
    order: -2;
  }
  .subscribe-text {
    font-size: .8rem;
  }
}
.email-form {
  width: 100%;
  display: inline-block;
  background-color: #555;
  position: relative;
  border-radius: 5px;
  line-height: 0;
  margin-top: 1rem;
}
@media (max-width: 480px) {
  .email-form {
    width: 70%;
  }
}
.form-control {
  display: inline-block;
  border: 0;
  outline: 0;
  font-size: 1rem;
  color: #ddd;
  background-color: transparent;
  font-family: inherit;
  margin: 0;
  padding: 0 3rem 0 1.5rem;
  width: 100%;
  height: 45px;
  border-radius: 5px;
}
.submit {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  background-color: #eee;
  font-size: 1rem;
  text-align: center;
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  color: #333;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
}
.submit:hover {
  background: rgba(11, 94, 55, 0.76);
}
